<body>
	<div class='container'>
		<img style='width:100%' src='https://simpx.net/jogoseletronicos/CabecalhoJogosEletronicos.png'>
		<div style="text-align: center">
			<div style='background-color: #efefef;width: 100%;margin-top: -20px'>
				<h2 style="padding-top: 20px">{nome} acabou de se cadastrar!</h2>
				<h3>Modalidades:</h3>
				<div class='container reduced'>
					<div class='row'>
						<div class='col'>
							<div class='card'>
								<div class='card-body'>{Clash Royale}</div>
							</div>
						</div>
						<div class='col'>
							<div class='card'>
								<div class='card-body'>{FIFA}</div>
							</div>
						</div>
						<div class='col'>
							<div class='card'>
								<div class='card-body'>{Free Fire}</div>
							</div>
						</div>
						<div class='col'>
							<div class='card'>
								<div class='card-body'>{Clash Royale}</div>
							</div>
						</div>
					</div>
				</div>
				<h3 class='pt-3'>Pagamento Estimado:</h3>
				<span>R$ {Valor},00</span>
				<h3 class='pt-3'>Dados do Usuario:</h3>
				Nome: {nome}<br>
				Nickname: {nickname}<br>
				Email: {email}<br>
				Telefone: {telefone}<br>
				Turma: {turma}<br>
			</div>
		</div>
	</div>
</body>